@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-dark-blue: #1B1666;
  --color-light-blue: #A08DFF;
  --color-white: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
}

.container {
  max-width: 110rem;
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 1010px) {
  html {
    font-size: 58%;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}
